<ion-row>
  <ion-col col-3 class="grid-col">

  </ion-col>
  <ion-col col-3 class="grid-col">

  </ion-col>
  <ion-col col-3 class="grid-col">

  </ion-col>
  <ion-col col-3 class="grid-col">

  </ion-col>
  <ion-col col-3 class="grid-col">

  </ion-col>
  <ion-col col-3 class="grid-col">

  </ion-col>
  <ion-col col-3 class="grid-col">

  </ion-col>
  <ion-col col-3 class="grid-col">

  </ion-col>
  <ion-col col-3 class="grid-col">

  </ion-col>
  <ion-col col-3 class="grid-col">

  </ion-col>
  <ion-col col-3 class="grid-col">

  </ion-col>
  <ion-col col-3 class="grid-col">

  </ion-col>
  <ion-col col-3 class="grid-col">

  </ion-col>
  <ion-col col-3 class="grid-col">

  </ion-col>
  <ion-col col-3 class="grid-col">

  </ion-col>
  <ion-col col-3 class="grid-col">

  </ion-col>
  <ion-col col-3 class="grid-col">

  </ion-col>
  <ion-col col-3 class="grid-col">

  </ion-col>
  <ion-col col-3 class="grid-col">

  </ion-col>
  <ion-col col-3 class="grid-col">

  </ion-col>
  <ion-col col-3 class="grid-col">

  </ion-col>
  <ion-col col-3 class="grid-col">

  </ion-col>
  <ion-col col-3 class="grid-col">

  </ion-col>
</ion-row>
<div class="clear-footer"></div>