<ion-content padding>
  <ion-segment mode="md" [(ngModel)]="zone">
    <ion-segment-button value="all" (click)="selecttab('all')">
      {{ "BILL" | translate }}
    </ion-segment-button>
    <ion-segment-button value="{{item.key}}" *ngFor="let item of tables | groupBy:'zone'" (click)="selecttab(item.key)">
      {{ item.key }}
    </ion-segment-button>
  </ion-segment>
  {{zone}}
  <div [ngSwitch]="zone">
    <ion-row *ngSwitchCase="all">
      <ion-col col-6 col-md-4 col-lg-4>
        <ion-card>
          <ion-card-header>
            <ion-row>
              <ion-col col-6>
                เพิ่มบิล
              </ion-col>

            </ion-row>
          </ion-card-header>
          <ion-card-content text-center>
            <button ion-button add-button icon-only clear color="glay" (tap)="gotoHome()">
              <ion-icon name="ios-add-circle-outline"></ion-icon>
            </button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-6 col-md-4 col-lg-4 *ngFor="let bill of bills">
        <ion-card>
          <ion-card-header>
            <ion-row>
              <ion-col col-6 *ngIf="bill.servetype === 'takeatable'">
                {{bill.table.zone}} - {{bill.table.name}}
              </ion-col>
              <ion-col col-6 *ngIf="bill.servetype === 'takeaway'">
                {{bill.customer.name}} - {{bill.customer.note}}
              </ion-col>
              <ion-col col-6 text-right>
                <ion-icon name="md-person"></ion-icon>
                {{1}}
              </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content padding>

            <ion-row detail-content>
              <ion-col col-12 *ngIf="bill.servetype === 'takeatable'">
                <ion-icon name="restaurant"></ion-icon>
                ทานที่ร้าน
              </ion-col>
              <ion-col col-12 *ngIf="bill.servetype === 'takeaway'">
                <ion-icon name="restaurant"></ion-icon>
                สั่งกลับบ้าน
              </ion-col>
              <ion-col col-12>
                <ion-icon name="logo-usd"></ion-icon>
                {{bill.total}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-6 text-center>
                <button ion-button clear>ชำระเงิน</button>
              </ion-col>
              <ion-col col-6 text-center>
                <button ion-button clear (click)="gotoHome(bill)">ดูบิล</button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
  <div [ngSwitch]="zone" *ngFor="let item of tables | groupBy:'zone'">
    <ion-row *ngSwitchCase="item.key">
      <ion-col col-3 *ngFor="let table of item.value">
        <button ion-button block (click)="takeAtable(table)">โต๊ะ {{table.name}}</button>
      </ion-col>
    </ion-row>
  </div>

</ion-content>
<footer [items]="menus" [menuSelected]="menuSelected" (itemSelected)="menuItemSelected($event)"></footer>