<ion-content>
  <ion-row ion-fixed>
    <ion-col col-12>
      <ion-row padding-left>
        <ion-col col-12>
          {{'NO_DATA' | translate }}
        </ion-col>
      </ion-row>
      <ion-row padding-left>
        <ion-col col-12 class="order-detail">

        </ion-col>
      </ion-row>
      <ion-grid>
        <ion-item>
          <ion-label>{{'BACK_HOME' | translate }}</ion-label>
          <ion-checkbox color="secondary" checked="true"></ion-checkbox>
        </ion-item>
      </ion-grid>
      <ion-row padding-left>
        <ion-col col-3 ion-sum text-left color="secondary">
          <p>{{'TOTAL' | translate }}</p>
          <h2>{{'CURENCY' | translate }}0.00</h2>
        </ion-col>
        <ion-col col-6>

        </ion-col>
        <ion-col col-3 ion-print text-center>
          <ion-icon name="md-print"></ion-icon>
          <p>{{'PRINT_BILL' | translate }}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <button ion-button block color="secondary">{{ 'BILL' | translate }}</button>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-content>