page-main-more {
    .branch-container {
        background-color: #b3b3b3;
        padding: 20px;
        color: #ffffff;
        text-align: center;
        font-size: 1.6em;
    }
    .col {
        padding: 0px;
    }
    .grid-col {
        min-height: 18rem;
        background-color: #e5eaee;
        border: 3px solid #ffffff;
    }
    .position-icon {
        text-align: center;
        padding-top: 2rem;
    }
    /**
    iPad
    */
    @media screen and (min-height: 768px) and (max-height: 1024px) {
        .grid-col {
            background-color: #e5eaee;
            border: 3px solid #ffffff;
        }
        .position-icon {
            text-align: center;
        }
    }
    /**
    iPad Pro
    */
    @media screen and (min-height: 1024px) {
        .grid-col {
            min-height: 34rem;
            background-color: #e5eaee;
            border: 3px solid #ffffff;
        }
        .position-icon {
            text-align: center;
            padding-top: 6rem;
        }
    }
}