<ion-header>

  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{'MORE' | translate}}</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>
  <ion-row class="branch-container">
    <ion-col col-12 col-md-12 col-lg-12>
      {{getBranchName()}}
    </ion-col>
  </ion-row>

  <ion-segment mode="md" [(ngModel)]="tabs">
    <ion-segment-button value="sellhistory">
      ประวัติการขาย
    </ion-segment-button>
    <ion-segment-button value="report">
      รายงาน
    </ion-segment-button>
    <ion-segment-button value="stock">สินค้าคงคลัง</ion-segment-button>
    <ion-segment-button value="employee">พนักงาน</ion-segment-button>
    <ion-segment-button value="cashmanage">จัดการเงินสด</ion-segment-button>
    <ion-segment-button value="list">รายการ</ion-segment-button>
    <ion-segment-button value="setting">ตั้งค่า</ion-segment-button>
  </ion-segment>
  <div [ngSwitch]="tabs">
    <ion-row *ngSwitchCase="'sellhistory'">
      <ion-col col-12>
        sellhistory
      </ion-col>
    </ion-row>
    <ion-row *ngSwitchCase="'report'">
      <ion-col col-12>
        report
      </ion-col>
    </ion-row>
    <ion-row *ngSwitchCase="'stock'">สินค้าคงคลัง</ion-row>
    <ion-list *ngSwitchCase="'employee'">
      <p *ngIf="users.length <= 0">ยังไม่มีพนักงาน</p>
      <ion-item-sliding *ngFor="let item of users;let i = index">
        <ion-item>
          <ion-avatar item-start>
            <img src="https://www.jamf.com/jamf-nation/img/default-avatars/generic-user-purple.png">
          </ion-avatar>
          <h2>{{item.firstName}} {{item.lastName}}</h2>
          <p>ตำแหน่ง {{item.roles[0]}}</p>
        </ion-item>
        <ion-item-options side="right">
          <button ion-button expandable (click)="editEmpModal(i,item)">
            <ion-icon name="create"></ion-icon>
          </button>
          <button ion-button expandable color="danger" (click)="deleteEmp(i)">
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <ion-fab right bottom class="margin-botom">
      <button ion-fab (click)="openCreateEmpModal()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-fab>
    <ion-row *ngSwitchCase="'cashmanage'">จัดการเงินสด</ion-row>
    <ion-row *ngSwitchCase="'list'">รายการ</ion-row>

    <ion-list *ngSwitchCase="'setting'">
      <button ion-item (click)="selectedItem('payment','PAYMENT')" [ngClass]="{'active-item' : itemSelected == 'payment'}">
        <ion-icon name="cash"></ion-icon> {{'PAYMENT' | translate}}
      </button>
      <button ion-item (click)="selectedItem('openBill','OPEN_BILL')" [ngClass]="{'active-item' : itemSelected == 'openBill'}">
        <ion-icon name="checkbox"></ion-icon> {{'OPEN_BILL' | translate}}
      </button>
      <button ion-item (click)="selectedItem('printer','PRINTER')" [ngClass]="{'active-item' : itemSelected == 'printer'}">
        <ion-icon name="print"></ion-icon> {{'PRINTER' | translate}}
      </button>
      <button ion-item (click)="selectedItem('shopHistory','SHOP_HISTORY')" [ngClass]="{'active-item' : itemSelected == 'shopHistory'}">
        <ion-icon name="home"></ion-icon> {{'SHOP_HISTORY' | translate}}
      </button>
      <button ion-item (click)="selectedItem('global','GLOBAL')" [ngClass]="{'active-item' : itemSelected == 'global'}">
        <ion-icon name="globe"></ion-icon> {{'GLOBAL' | translate}}
      </button>
      <button ion-item (click)="selectedItem('more','MORE')" [ngClass]="{'active-item' : itemSelected == 'more'}">
        <ion-icon name="more"></ion-icon> {{'MORE' | translate}}
      </button>
    </ion-list>
  </div>
</ion-content>

<footer [items]="menus" [menuSelected]="menuSelected" (itemSelected)="menuItemSelected($event)"></footer>