page-more-layout {
    .head {
        height: 56px;
        text-align: center;
        border-bottom: 1px solid #c0c0c0;
        font-weight: bold;
    }
    .bd-right {
        border-right: 1px solid #c0c0c0;
    }
    .pd-top {
        padding-top: 16px;
    }
    .height-fill {
        height: -webkit-fill-available;
    }
}