<ion-content>
  <ion-row class="head">
    <ion-col col-5 col-md-5 col-lg-4 class="bd-right pd-top">
      {{actionType.name | translate}}
    </ion-col>
    <ion-col col-7 col-md-7 col-lg-8 class="pd-top">
      {{contentType.name | translate}}
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-5 col-md-5 col-lg-4 class="bd-right height-fill">
      <!-- section more side nav component hear เพิ่ม componet menu หลักฝั่งซ้าย-->
      <settings-side-nav *ngIf="actionType.type == 'settings'" (settingType)="contentTypeSelected($event)"></settings-side-nav>
      <!-- end section more side nav component hear-->
    </ion-col>
    <ion-col col-7 col-md-7 col-lg-8 class="height-fill">
      <!-- section content of settings component เปลี่ยน h1 เป็น component ของแต่ละเมนูย่อย-->
      <payment-setting *ngIf="contentType.type == 'payment'"></payment-setting>
      <h1 *ngIf="contentType.type == 'openBill'">Component {{contentType.name | translate}}</h1>
      <h1 *ngIf="contentType.type == 'printer'">Component {{contentType.name | translate}}</h1>
      <h1 *ngIf="contentType.type == 'shopHistory'">Component {{contentType.name | translate}}</h1>
      <h1 *ngIf="contentType.type == 'global'">Component {{contentType.name | translate}}</h1>
      <h1 *ngIf="contentType.type == 'more'">Component {{contentType.name | translate}}</h1>
      <!-- end section content of settings component -->

    </ion-col>
  </ion-row>
</ion-content>

<footer [items]="menus" [menuSelected]="menuSelected" (itemSelected)="menuItemSelected($event)"></footer>