<ion-content>
  <ion-row class="head">
    <ion-col col-5 col-md-5 col-lg-4 class="bd-right pd-top">
      {{actionType.name | translate}}
    </ion-col>
    <ion-col col-7 col-md-7 col-lg-8 class="pd-top">
      {{contentType.name | translate}}
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-5 col-md-5 col-lg-4 class="bd-right height-fill">
      <!-- section more side nav component -->
      <settings-side-nav *ngIf="actionType.type == 'settings'" (settingType)="contentTypeSelected($event)"></settings-side-nav>
      <employee-side-nav *ngIf="actionType.type == 'employee'" (employeeSelected)="employeeSelected($event)"></employee-side-nav>
      <!-- end section more side nav component -->
    </ion-col>
    <ion-col col-7 col-md-7 col-lg-8 class="height-fill">
      <!-- section content of settings component -->
      <payment-setting *ngIf="contentType.type == 'payment'"></payment-setting>
      <openbill-setting *ngIf="contentType.type == 'openBill'"></openbill-setting>
      <printer-setting *ngIf="contentType.type == 'printer'"></printer-setting>
      <shop-history-setting *ngIf="contentType.type == 'shopHistory'"></shop-history-setting>
      <international-setting *ngIf="contentType.type == 'global'"></international-setting>
      <other-setting *ngIf="contentType.type == 'more'"></other-setting>
      <!-- end section content of settings component -->

      <!-- section employee-detail component -->
      <employee-detail [employee]="employee" *ngIf="contentType.type == 'employee'"></employee-detail>
      <!-- end section employee-detail component -->

    </ion-col>
  </ion-row>
</ion-content>

<footer [items]="menus" [menuSelected]="menuSelected" (itemSelected)="menuItemSelected($event)"></footer>