@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.eot?ce5xv9');
  src:  url('../assets/fonts/icomoon.eot?ce5xv9#iefix') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf?ce5xv9') format('truetype'),
    url('../assets/fonts/icomoon.woff?ce5xv9') format('woff'),
    url('../assets/fonts/icomoon.svg?ce5xv9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-weight: bold;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin makeIcon($arg, $val) {
  .ai-#{$arg}:before ,
  .ion-ios-ai-#{$arg}:before ,
  .ion-ios-ai-#{$arg}-outline:before ,
  .ion-md-ai-#{$arg}:before ,
  .ion-md-ai-#{$arg}-outline:before  {
    content: $val;
  //   font-size: 26px;
  }
}

@include makeIcon(food,'\e900');
@include makeIcon(cake,'\e90b');
@include makeIcon(coffee,'\e90a');
@include makeIcon(icecream,'\e909');
@include makeIcon(water,'\e908');
@include makeIcon(tea,'\e907');
@include makeIcon(bread,'\e906');
@include makeIcon(frenchfries,'\e905');
@include makeIcon(cheese,'\e904');
@include makeIcon(hamberger,'\e903');
@include makeIcon(soup,'\e902');
@include makeIcon(salad,'\e901');
