<ion-header>

  <ion-navbar>
    <ion-title>เพิ่มโต๊ะใหม่</ion-title>
    <ion-buttons end>
      <button ion-button>
        บันทึก
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row>
    <ion-col class="center">
      <span class="table-number">{{tableNo ? tableNo : 1}}</span>
      <img *ngIf="shapeSelected == 'shape1'" src="https://image.flaticon.com/icons/svg/130/130983.svg" width="64" height="64">
      <img *ngIf="shapeSelected == 'shape2'" src="https://image.flaticon.com/icons/svg/701/701771.svg" width="64" height="64">
      <img *ngIf="shapeSelected == 'shape3'" src="https://image.flaticon.com/icons/svg/699/699013.svg" width="64" height="64">
    </ion-col>
  </ion-row>
  <ion-item>
    <ion-input type="number" placeholder="เบอร์โต๊ะ" min="1" max="64" [(ngModel)]="tableNo" (ngModelChange)="validateTableNo($event)"></ion-input>
  </ion-item>
  <ion-row class="margin-top">
    <ion-col class="line">
      <span class="txt-inline">ขนาด</span>
    </ion-col>
  </ion-row>
  <ion-row class="margin-top">
    <ion-col col-4 class="table-size" [ngClass]="{'active-size' : sizeSelected == 'small'}" (click)="selectSize('small')">
      ขนาดเล็ก
    </ion-col>
    <ion-col col-4 class="table-size" [ngClass]="{'active-size' : sizeSelected == 'medium'}" (click)="selectSize('medium')">
      ขนาดกลาง
    </ion-col>
    <ion-col col-4 class="table-size" [ngClass]="{'active-size' : sizeSelected == 'big'}" (click)="selectSize('big')">
      ขนาดใหญ่
    </ion-col>
  </ion-row>
  <ion-row class="margin-top">
    <ion-col class="line">
      <span class="txt-inline">รูปร่าง</span>
    </ion-col>
  </ion-row>
  <ion-row class="margin-top">
    <ion-col class="center" [ngClass]="{'active-size' : shapeSelected == 'shape1'}" (click)="selectShape('shape1')">
      <img src="https://image.flaticon.com/icons/svg/130/130983.svg" width="84" height="64">
    </ion-col>
    <ion-col class="center" [ngClass]="{'active-size' : shapeSelected == 'shape2'}" (click)="selectShape('shape2')">
      <img src="https://image.flaticon.com/icons/svg/701/701771.svg" width="82" height="64">
    </ion-col>
    <ion-col class="center" [ngClass]="{'active-size' : shapeSelected == 'shape3'}" (click)="selectShape('shape3')">
      <img src="https://image.flaticon.com/icons/svg/699/699013.svg" width="64" height="58">
    </ion-col>
  </ion-row>
</ion-content>