<ion-list>
  <ion-item>
    <ion-label>{{'OPEN_BILL' | translate}}</ion-label>
    <ion-toggle [(ngModel)]="settings.openbill.isOpenbill" color="secondary"></ion-toggle>
  </ion-item>
  <div *ngIf="settings.openbill.isOpenbill">
    <ion-item>
      <ion-label>{{'TABLE_QTY' | translate}}</ion-label>
      <ion-input type="number" placeholder="please fill" [(ngModel)]="settings.openbill.tableQty"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{'SHOW_TIME_OPEN_BILL' | translate}}</ion-label>
      <ion-toggle [(ngModel)]="settings.openbill.showTime" color="secondary"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>{{'LIMIT_TIME' | translate}}</ion-label>
      <ion-input type="number" placeholder="please fill" [(ngModel)]="settings.openbill.limitTime"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{'OPEN_NOTI' | translate}}</ion-label>
      <ion-toggle [(ngModel)]="settings.openbill.setNotification" color="secondary"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>{{'SET_TABLE' | translate}}</ion-label>
      <ion-toggle [(ngModel)]="settings.openbill.setTable" color="secondary"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="settings.openbill.setTable" (click)="openAreaMangeModal()">
      <h2>{{'CREATE_AREA' | translate}}
        <span class="right">
          <ion-icon name="ios-arrow-forward"></ion-icon>
        </span>
      </h2>
    </ion-item>
  </div>
</ion-list>