<ion-list>
    <ion-item (click)="cashierPrinterModal()">
        <h2>{{'PRINTER_CASHIER' | translate}}
            <span class="right">
                {{'DISCONNECT' | translate}}
                <ion-icon name="ios-arrow-forward"></ion-icon>
            </span>
        </h2>
    </ion-item>
    <ion-item (click)="invoidTemplateModal()">
        <h2>{{'INVOID_TEMPLATE' | translate}}
            <span class="right">
                <ion-icon name="ios-arrow-forward"></ion-icon>
            </span>
        </h2>
    </ion-item>
</ion-list>
<p padding>
    <button ion-button full color="secondary" (click)="kitchenPrinterModal()">{{'ADD_KITCHEN_PRINTER' | translate}}</button>
</p>