<ion-row [sortablejs]="items" [sortablejsOptions]="options">
  <ion-col col-6 col-md-3 col-lg-3 class="grid-col" *ngFor="let item of items">
    <item-grid [item]="item.product" [isModeEdit]="isModeEdit" (click)="selected(item)" (itemDeleted)="itemDelete($event)" *ngIf="item.type === 'product'"></item-grid>
    <ion-row *ngIf="item.type === 'none'" (click)="selected(item)">
      <ion-col col-12 text-center none-item>
        <ion-icon name="add"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>
<div class="clear-footer"></div>