grid-edit {
    .grid-col {
        min-height: 24rem;
        background-color: #e5eaee;
        border: 3px solid #ffffff;
    }
    .clear-footer {height: 62px;}

    [none-item] {
        min-height: 20rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5rem;
        color: gray;
    }
    /**
    iPad
    */
    @media screen and (min-height : 768px) and (max-height : 1024px) {
        .grid-col {
            min-height: 17rem;
            background-color: #e5eaee;
            border: 3px solid #ffffff;
        }
        [none-item] {
            min-height: 15rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 4rem;
            color: gray;
        }
    }
    /**
    iPad Pro
    */
    @media screen and (min-height : 1024px){
        .grid-col {
            min-height: 23rem;
            background-color: #e5eaee;
            border: 3px solid #ffffff;
        }
        [none-item] {
            min-height: 20rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 5rem;
            color: gray;
        }
    }
}
