<ion-header>

  <ion-navbar>
    <ion-title>{{'EDIT_AREA' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row>
    <ion-col col-11 col-md-11 col-lg-11>
      <ion-input class="txt-box" type="text" placeholder="{{'AREA_NAME' | translate}}" [(ngModel)]="areaName"></ion-input>
    </ion-col>
    <ion-col col-1 col-md-1 col-lg-1>
      <button ion-button (click)="openSetTableModal()" [disabled]="!areaName">
        <ion-icon name="ios-add-circle-outline"></ion-icon>
      </button>
    </ion-col>
  </ion-row>

  <ion-row *ngFor="let area of tablesOfArea">
    <ion-item-divider>
      {{area.areaName}}
      <span class="bin">
        <ion-icon name="trash" (click)="deleteArea(area.areaName)"></ion-icon>
      </span>
    </ion-item-divider>
    <ion-col col-3 class="center" *ngFor="let table of area.tables">
      <p>โต๊ะที่ {{table.tableNo}}
        <span class="bin-2">
          <ion-icon name="trash" (click)="deleteTable(area.areaName,table.tableNo)"></ion-icon>
        </span>
      </p>
      <p>ขนาด {{table.size}}</p>
      <p>
        <img *ngIf="table.shape == 'shape1'" src="https://image.flaticon.com/icons/svg/130/130983.svg" width="64" height="64">
        <img *ngIf="table.shape == 'shape2'" src="https://image.flaticon.com/icons/svg/701/701771.svg" width="64" height="64">
        <img *ngIf="table.shape == 'shape3'" src="https://image.flaticon.com/icons/svg/699/699013.svg" width="64" height="64">
      </p>
    </ion-col>
  </ion-row>
</ion-content>