<ion-list>
  <ion-item>
    <ion-label>{{'SHOP_TYPE' | translate}}</ion-label>
    <ion-select [(ngModel)]="shop.shopType">
      <ion-option value="normal">{{'NORMAL_SHOP' | translate}}</ion-option>
      <ion-option value="luxury">{{'LUXURY_SHOP' | translate}}</ion-option>
      <ion-option value="fastfood">{{'FAST_FOOD_SHOP' | translate}}</ion-option>
      <ion-option value="buffet">{{'BUFFET' | translate}}</ion-option>
      <ion-option value="franchise">{{'FRANCHISE' | translate}}</ion-option>
      <ion-option value="cart">{{'CART' | translate}}</ion-option>
      <ion-option value="other">{{'OTHER' | translate}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>{{'PRODUCT_TYPE' | translate}}</ion-label>
    <ion-select [(ngModel)]="shop.foodType">
      <ion-option value="thai">{{'THAI_FOOD' | translate}}</ion-option>
      <ion-option value="japanese">{{'JAPANESE_FOOD' | translate}}</ion-option>
      <ion-option value="western">{{'WESTERN_FOOD' | translate}}</ion-option>
      <ion-option value="chainese">{{'CHAINESE_FOOD' | translate}}</ion-option>
      <ion-option value="korean">{{'KOREAN_FOOD' | translate}}</ion-option>
      <ion-option value="noodle">{{'NOODLE' | translate}}</ion-option>
      <ion-option value="sweets">{{'SWEEDS' | translate}}</ion-option>
      <ion-option value="snack">{{'SNACK' | translate}}</ion-option>
      <ion-option value="fastfood">{{'FASTFOOD' | translate}}</ion-option>
      <ion-option value="bakery">{{'BAKERY' | translate}}</ion-option>
      <ion-option value="coffee">{{'COFFEE_SHOP' | translate}}</ion-option>
      <ion-option value="other">{{'OTHER' | translate}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>{{'SHOP_NAME' | translate}}</ion-label>
    <ion-input type="text" placeholder="please fill" [(ngModel)]="shop.name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>{{'TEL' | translate}}</ion-label>
    <ion-input type="text" placeholder="please fill" [(ngModel)]="shop.tel"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>{{'ADDRESS' | translate}}</ion-label>
    <ion-input type="text" placeholder="please fill" [(ngModel)]="shop.address"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>{{'OWNER_NAME' | translate}}</ion-label>
    <ion-input type="text" placeholder="please fill" [(ngModel)]="shop.owner"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>{{'MOBILE' | translate}}</ion-label>
    <ion-input type="text" placeholder="please fill" [(ngModel)]="shop.mobile"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>{{'EMAIL' | translate}}</ion-label>
    <ion-input type="text" placeholder="please fill" [(ngModel)]="shop.email"></ion-input>
  </ion-item>
</ion-list>

<p class="center">
  <button ion-button color="secondary" (click)="saveData()">{{'SAVE' | translate}}</button>
</p>