footer {
    ion-footer {
        background-color: color($colors, footer-bg, base);
        color:color($colors, footer-bar, base);
        height: 80px;
        z-index: 999;
    }
    h4{
        align-items: center;
    }
    .scroll-x {
        height: 160px !important;
        .scroll-row {
            flex-wrap: inherit !important;  
        }
    }
    .m-name {
        margin-top: -10px !important;
        font-size: 2rem !important;
    }
    .m-no {
        margin-top: 6px !important;
        font-size: 3rem !important;
    }

    .active-menu{
        color:color($colors, footer-bar-active, base);
        // border-bottom: 1rem;
        // border-bottom-color: color($colors, footer-bar-active, base);
    }
    
}