<ion-footer>
  <!-- <div class="f-menu">
    <h4 class="m-no">{{'MORE' | translate }}</h4>
  </div>
  <div class="l-menu">
    <h4 class="m-no">{{'LIST' | translate }}</h4>
  </div>
  <ion-scroll scrollX="true" class="scroll-x">
    <ion-row class="scroll-row">
      <ion-col col-2>
      </ion-col>
      <ion-col col-2>
        <h4 class="m-no">01</h4>
        <h6 class="m-name">{{'MENU' | translate }} 1</h6>
      </ion-col>
      <ion-col col-2>
        <h4 class="m-no">02</h4>
        <h6 class="m-name">{{'MENU' | translate }} 2</h6>
      </ion-col>
      <ion-col col-2>
        <h4 class="m-no">03</h4>
        <h6 class="m-name">{{'MENU' | translate }} 3</h6>
      </ion-col>
      <ion-col col-2>
        <h4 class="m-no">04</h4>
        <h6 class="m-name">{{'MENU' | translate }} 4</h6>
      </ion-col>
      <ion-col col-2>
        <h4 class="m-no">05</h4>
        <h6 class="m-name">{{'MENU' | translate }} 5</h6>
      </ion-col>
      <ion-col col-2>
        <h4 class="m-no">06</h4>
        <h6 class="m-name">{{'MENU' | translate }} 6</h6>
      </ion-col>
      <ion-col col-2>
        <h4 class="m-no">07</h4>
        <h6 class="m-name">{{'MENU' | translate }} 7</h6>
      </ion-col>
      <ion-col col-2>
      </ion-col>
    </ion-row>
  </ion-scroll> -->
  <ion-row>
    <ion-col col-4 col-md-2 col-lg-2>
      <h4>{{'MORE' | translate }}</h4>
    </ion-col>
    <ion-col col-4 col-md-8 col-lg-8>
      <ion-scroll scrollX="true" class="scroll-x">
        <ion-row>
          <ion-col col-12 col-md-3 col-lg-3>
            <h4>menu1</h4>
          </ion-col>
          <ion-col col-12 col-md-3 col-lg-3>
            <h4>menu1</h4>
          </ion-col>
          <ion-col col-12 col-md-3 col-lg-3>
            <h4>menu1</h4>
          </ion-col>
          <ion-col col-12 col-md-3 col-lg-3>
            <h4>menu1</h4>
          </ion-col>
          <ion-col col-12 col-md-3 col-lg-3>
            <h4>menu1</h4>
          </ion-col>
          <ion-col col-12 col-md-3 col-lg-3>
            <h4>menu1</h4>
          </ion-col>
          <ion-col col-12 col-md-3 col-lg-3>
            <h4>menu1</h4>
          </ion-col>
        </ion-row>
      </ion-scroll>
    </ion-col>
    <ion-col col-4 col-md-2 col-lg-2>
      <h4>{{'LIST' | translate }}</h4>
    </ion-col>
  </ion-row>
</ion-footer>