page-product-order {
    ion-navbar{
        height: 6rem;
        .toolbar-title {
            display: block;
            overflow: hidden;
            width: 100%;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 2rem;
            color: gray;
        }
    }
    
    [navbar-button]{
        color: limegreen;
        font-size: 2rem;
    }

    [counter] {
        font-size: 18px !important;
        height: 36px !important;
        right: 0px;
    }
    
}
