page-create-discount-modal {
    .box-val {
        background-color: #c0c0c0;
        text-align: center;
        padding-top: 4rem;
        color: #ffffff;
    }
    ion-select {
        max-width: 100% !important;
    }
}