<ion-header>

  <ion-navbar>
    <ion-title>{{settingType.name | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="settingType.type =='cashier'">
    <ion-segment [(ngModel)]="settings.cashierPrinter.type" color="secondary">
      <ion-segment-button value="wifi">
        WIFI/LAN
      </ion-segment-button>
      <ion-segment-button value="bluetooth">
        {{'BLUE_TOOTH' | translate}}
      </ion-segment-button>
    </ion-segment>
    <ion-list *ngIf="settings.cashierPrinter.type =='wifi'" margin>
      <ion-item>
        <ion-label>{{'PRINTER_MODE' | translate}}</ion-label>
        <ion-select [(ngModel)]="settings.cashierPrinter.printerMode">
          <ion-option value="58MM">{{'MODE' | translate}} 58MM</ion-option>
          <ion-option value="80MM">{{'MODE' | translate}} 80MM</ion-option>
          <ion-option value="STAR">STAR</ion-option>
          <ion-option value="EPPOS">EPPOS</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>IP Address</ion-label>
        <ion-input type="text" placeholder="192.168.1.80" [(ngModel)]="settings.cashierPrinter.ipAddress"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>{{'PORT' | translate}}</ion-label>
        <ion-input type="number" placeholder="9100" [(ngModel)]="settings.cashierPrinter.port"></ion-input>
      </ion-item>
    </ion-list>
    <ion-list *ngIf="settings.cashierPrinter.type =='bluetooth'" margin>
      <ion-item>
        <ion-label>{{'BLUE_TOOTH' | translate}}</ion-label>
        <ion-toggle [(ngModel)]="settings.cashierPrinter.isOnBluetooth" color="secondary"></ion-toggle>
      </ion-item>
    </ion-list>
  </div>

  <div *ngIf="settingType.type =='template'">
    <ion-item no-lines class="center">
      <img src="https://image.flaticon.com/icons/svg/685/685685.svg" width="124" height="124">
    </ion-item>
    <ion-item>
      <ion-textarea rows="6" placeholder="{{'BILL_FOOTER' | translate}}" [(ngModel)]="billFooter"></ion-textarea>
    </ion-item>
  </div>

  <div *ngIf="settingType.type =='kitchen'">
    <ion-item>
      <ion-label>{{'KITCHEN_AREA' | translate}}</ion-label>
      <ion-input type="text" placeholder="{{'WATER_BAR' | translate}}" [(ngModel)]="kitchenPrinter.kitchenArea"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{'PRINTER_MODE' | translate}}</ion-label>
      <ion-select [(ngModel)]="kitchenPrinter.printerMode">
        <ion-option value="58MM">{{'MODE' | translate}} 58MM</ion-option>
        <ion-option value="80MM">{{'MODE' | translate}} 80MM</ion-option>
        <ion-option value="STAR">STAR</ion-option>
        <ion-option value="EPPOS">EPPOS</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>{{'SOUND' | translate}}</ion-label>
      <ion-toggle [(ngModel)]="kitchenPrinter.sound" color="secondary"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>IP Address</ion-label>
      <ion-input type="text" placeholder="192.168.1.80" [(ngModel)]="kitchenPrinter.ipAddress"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>{{'PORT' | translate}}</ion-label>
      <ion-input type="number" placeholder="9100" [(ngModel)]="kitchenPrinter.port"></ion-input>
    </ion-item>
  </div>
</ion-content>

<ion-footer padding>
  <button *ngIf="settingType.type =='cashier'" ion-button full color="secondary" (click)="connect()">{{'CONNECT' | translate}}</button>
  <button *ngIf="settingType.type =='template'" ion-button full color="secondary" (click)="saveTemplate()">{{'SAVE' | translate}}</button>
  <button *ngIf="settingType.type =='kitchen'" ion-button full color="secondary" (click)="saveKitchenPrinter()">{{'CONNECT_KITCHEN_PRINTER' | translate}}</button>
  <button *ngIf="settingType.type =='kitchen'" ion-button full color="danger" (click)="deleteKitchenPrinter()">{{'DELETE_KITCHEN_PRINTER' | translate}}</button>
</ion-footer>